@font-face {
	font-family: 'align';
	src:url('fontface/align.eot');
	src:url('fontface/align.eot?#iefix') format('embedded-opentype'),
		url('fontface/align.ttf') format('truetype'),
		url('fontface/align.woff') format('woff'),
		url('fontface/align.svg#align') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */

[class^="icon-r-"],
[class*=" icon-r-"] {
	font-family: 'align';
	font-weight: normal;
	font-style: normal;
	speak: none;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	line-height: 1;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


[class^="icon-r-"]:before,
[class*=" icon-r-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}

/* increased font size for icon-large */
[class^="icon-r-"].icon-fixed-width,
[class*=" icon-r-"].icon-fixed-width {
  display: inline-block;
  width: 1.1428571428571428em;
  text-align: right;
  padding-right: 0.2857142857142857em;
}
[class^="icon-r-"].icon-fixed-width.icon-large,
[class*=" icon-r-"].icon-fixed-width.icon-large {
  width: 1.4285714285714286em;
}
.icons-ul {
  margin-left: 2.142857142857143em;
  list-style-type: none;
}
.icons-ul > li {
  position: relative;
}
.icons-ul .icon-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  text-align: center;
  line-height: inherit;
}
[class^="icon-r-"].hide,
[class*=" icon-r-"].hide {
  display: none;
}
.icon-muted {
  opacity: .35;
}
.icon-light {
  color: #ffffff;
}
.icon-dark {
  color: #333333;
}
.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.icon-2x {
  font-size: 2em;
}
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.icon-3x {
  font-size: 3em;
}
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.icon-4x {
  font-size: 4em;
}
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.icon-5x {
  font-size: 5em;
}
.icon-5x.icon-border {
  border-width: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
[class^="icon-r-"].pull-left,
[class*=" icon-r-"].pull-left {
  margin-right: .3em;
}
[class^="icon-r-"].pull-right,
[class*=" icon-r-"].pull-right {
  margin-left: .3em;
}
/* BOOTSTRAP SPECIFIC CLASSES
 * -------------------------- */
/* Bootstrap 2.0 sprites.less reset */
[class^="icon-r-"],
[class*=" icon-r-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > [class^="icon-r-"],
.nav-pills > .active > a > [class*=" icon-r-"],
.nav-list > .active > a > [class^="icon-r-"],
.nav-list > .active > a > [class*=" icon-r-"],
.navbar-inverse .nav > .active > a > [class^="icon-r-"],
.navbar-inverse .nav > .active > a > [class*=" icon-r-"],
.dropdown-menu > li > a:hover > [class^="icon-r-"],
.dropdown-menu > li > a:hover > [class*=" icon-r-"],
.dropdown-menu > .active > a > [class^="icon-r-"],
.dropdown-menu > .active > a > [class*=" icon-r-"],
.dropdown-submenu:hover > a > [class^="icon-r-"],
.dropdown-submenu:hover > a > [class*=" icon-r-"] {
  background-image: none;
}
/* keeps Bootstrap styles with and without icons the same */
.btn [class^="icon-r-"].icon-large,
.nav [class^="icon-r-"].icon-large,
.btn [class*=" icon-r-"].icon-large,
.nav [class*=" icon-r-"].icon-large {
  line-height: .9em;
}
.btn [class^="icon-r-"].icon-spin,
.nav [class^="icon-r-"].icon-spin,
.btn [class*=" icon-r-"].icon-spin,
.nav [class*=" icon-r-"].icon-spin {
  display: inline-block;
}
.nav-tabs [class^="icon-r-"],
.nav-pills [class^="icon-r-"],
.nav-tabs [class*=" icon-r-"],
.nav-pills [class*=" icon-r-"],
.nav-tabs [class^="icon-r-"].icon-large,
.nav-pills [class^="icon-r-"].icon-large,
.nav-tabs [class*=" icon-r-"].icon-large,
.nav-pills [class*=" icon-r-"].icon-large {
  line-height: .9em;
}
.btn [class^="icon-r-"].pull-left.icon-2x,
.btn [class*=" icon-r-"].pull-left.icon-2x,
.btn [class^="icon-r-"].pull-right.icon-2x,
.btn [class*=" icon-r-"].pull-right.icon-2x {
  margin-top: .18em;
}
.btn [class^="icon-r-"].icon-spin.icon-large,
.btn [class*=" icon-r-"].icon-spin.icon-large {
  line-height: .8em;
}
.btn.btn-small [class^="icon-r-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-r-"].pull-left.icon-2x,
.btn.btn-small [class^="icon-r-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-r-"].pull-right.icon-2x {
  margin-top: .25em;
}
.btn.btn-large [class^="icon-r-"],
.btn.btn-large [class*=" icon-r-"] {
  margin-top: 0;
}
.btn.btn-large [class^="icon-r-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-r-"].pull-left.icon-2x,
.btn.btn-large [class^="icon-r-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-r-"].pull-right.icon-2x {
  margin-top: .05em;
}
.btn.btn-large [class^="icon-r-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-r-"].pull-left.icon-2x {
  margin-right: .2em;
}
.btn.btn-large [class^="icon-r-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-r-"].pull-right.icon-2x {
  margin-left: .2em;
}
/* Fixes alignment in nav lists */
.nav-list [class^="icon-r-"],
.nav-list [class*=" icon-r-"] {
  line-height: inherit;
}
/* EXTRAS
 * -------------------------- */
/* Stacked and layered icon */
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: -35%;
}
.icon-stack [class^="icon-r-"],
.icon-stack [class*=" icon-r-"] {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
  line-height: inherit;
  *line-height: 2em;
}
.icon-stack .icon-stack-base {
  font-size: 2em;
  *line-height: 1em;
}
/* Animated rotating icon */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
/* Prevent stack and spinners from being taken inline when inside a link */
a .icon-stack,
a .icon-spin {
  display: inline-block;
  text-decoration: none;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* Icon rotations and mirroring */
.icon-rotate-90:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.icon-rotate-180:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.icon-rotate-270:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.icon-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/* ensure rotation occurs inside anchor tags */
a .icon-rotate-90:before,
a .icon-rotate-180:before,
a .icon-rotate-270:before,
a .icon-flip-horizontal:before,
a .icon-flip-vertical:before {
  display: inline-block;
}

/* Use the following CSS code if you want to have a class per icon */

.icon-r-chevron-down:before {
	content: "\e039";
}
.icon-r-chevron-left:before {
	content: "\e03a";
}
.icon-r-chevron-up:before {
	content: "\e03b";
}
.icon-r-print-ok:before {
	content: "\e040";
}
.icon-r-social-security:before {
	content: "\e043";
}
.icon-r-trash:before {
	content: "\e044";
}
.icon-r-tasks:before {
	content: "\e045";
}
.icon-r-last:before {
	content: "\e04c";
}
.icon-r-email:before {
	content: "\e04e";
}
.icon-r-download:before {
	content: "\e04f";
}
.icon-r-building:before {
	content: "\e052";
}
.icon-r-other:before {
	content: "\e053";
}
.icon-r-chat:before {
	content: "\e054";
}
.icon-r-filter:before {
	content: "\e056";
}
.icon-r-print:before {
	content: "\e057";
}
.icon-r-mobile-phone:before {
	content: "\e058";
}
.icon-r-mail:before {
	content: "\e059";
}
.icon-r-first:before {
	content: "\e05d";
}
.icon-r-prev:before {
	content: "\e05e";
}
.icon-r-edit:before {
	content: "\e05f";
}
.icon-r-check:before {
	content: "\e068";
}
.icon-r-new-window:before {
	content: "\e06c";
}
.icon-r-login:before {
	content: "\e077";
}
.icon-r-locked:before {
	content: "\e078";
}
.icon-r-unlocked:before {
	content: "\e079";
}
.icon-r-chevron-right:before {
	content: "\e07a";
}
.icon-r-cog:before {
	content: "\e07d";
}
.icon-r-logout:before {
	content: "\e07e";
}
.icon-r-asterisk:before {
	content: "\e07f";
}
.icon-r-manage-users:before {
	content: "\e080";
}
.icon-r-user:before {
	content: "\e082";
}
.icon-r-left-quote:before {
	content: "\e005";
}
.icon-r-right-quote:before {
	content: "\e006";
}
.icon-r-sync:before {
	content: "\e01d";
}
.icon-r-refresh:before {
	content: "\e007";
}
.icon-r-credit:before {
	content: "\e016";
}
.icon-r-chart-area:before {
	content: "\e02a";
}
.icon-r-chart-bar:before {
	content: "\e03e";
}
.icon-r-chart-line:before {
	content: "\e063";
}
.icon-r-chart-stack:before {
	content: "\e06a";
}
.icon-r-next:before {
	content: "\e04d";
}
.icon-r-calculator:before {
	content: "\e012";
}
.icon-r-time:before {
	content: "\e07c";
}
.icon-r-small-ok:before {
	content: "\e084";
}
.icon-r-skeleton-key:before {
	content: "\e090";
}
.icon-r-reset:before {
	content: "\e092";
}
.icon-r-fill-lock:before {
	content: "\e097";
}
.icon-r-fill-cancel:before {
	content: "\e098";
}
.icon-r-download-computer:before {
	content: "\e09c";
}
.icon-r-cloud-upload:before {
	content: "\e09d";
}
.icon-r-cloud-download:before {
	content: "\e09e";
}
.icon-r-medium-cancel:before {
	content: "\e0a0";
}
.icon-r-small-remove:before {
	content: "\e093";
}
.icon-r-fax:before {
	content: "\e09b";
}
.icon-r-mailbox:before {
	content: "\e001";
}
.icon-r-file-cabinet:before {
	content: "\e002";
}
.icon-r-user-roles:before {
	content: "\e008";
}
.icon-r-small-add:before {
	content: "\e091";
}
.icon-r-calendar-2:before {
	content: "\e051";
}
.icon-r-calendar-3:before {
	content: "\e06b";
}
.icon-r-detail:before {
	content: "\e01f";
}
.icon-r-draghandle:before {
	content: "\e018";
}
.icon-r-tray-upload:before {
	content: "\f11b";
}
.icon-r-tray-download:before {
	content: "\f11a";
}
.icon-r-search-user:before {
	content: "\e04a";
}
.icon-r-home:before {
	content: "\e601";
}
.icon-r-meter:before {
	content: "\e603";
}
.icon-r-spinner:before {
	content: "\e606";
}
.icon-r-spinner2:before {
	content: "\e607";
}
.icon-r-spinner3:before {
	content: "\e608";
}
.icon-r-search:before {
	content: "\e609";
}
.icon-r-zoom-in:before {
	content: "\e60a";
}
.icon-r-zoom-out:before {
	content: "\e60b";
}
.icon-r-calendar:before {
	content: "\e60c";
}
.icon-r-bullhorn:before {
	content: "\e60d";
}
.icon-r-support:before {
	content: "\e60f";
}
.icon-r-drawer:before {
	content: "\e611";
}
.icon-r-box-add:before {
	content: "\e612";
}
.icon-r-box-remove:before {
	content: "\e613";
}
.icon-r-alarm:before {
	content: "\e614";
}
.icon-r-folder-open:before {
	content: "\e615";
}
.icon-r-tag:before {
	content: "\e616";
}
.icon-r-tags:before {
	content: "\e617";
}
.icon-r-eye-blocked:before {
	content: "\e619";
}
.icon-r-eye:before {
	content: "\e61a";
}
.icon-r-signup:before {
	content: "\e61b";
}
.icon-r-key:before {
	content: "\e625";
}
.icon-r-checkmark:before {
	content: "\e626";
}
.icon-r-ok:before {
	content: "\e041";
}
.icon-r-hammer:before {
	content: "\e62d";
}
.icon-r-wand:before {
	content: "\e62e";
}
.icon-r-wrench:before {
	content: "\e62f";
}
.icon-r-info:before {
	content: "\e630";
}
.icon-r-link:before {
	content: "\e631";
}
.icon-r-minus:before {
	content: "\e634";
}
.icon-r-gift:before {
	content: "\e635";
}
.icon-r-image:before {
	content: "\e636";
}
.icon-r-bell-fill:before {
	content: "\e637";
}
.icon-r-bell:before {
	content: "\e638";
}
.icon-r-shit-fill:before {
	content: "\e639";
}
.icon-r-phone-rotary:before {
	content: "\e63d";
}
.icon-r-error:before {
	content: "\e63f";
}
.icon-r-images:before {
	content: "\e640";
}
.icon-r-support2:before {
	content: "\e641";
}
.icon-r-circleleft:before {
	content: "\e642";
}
.icon-r-circledown:before {
	content: "\e643";
}
.icon-r-circleup:before {
	content: "\e644";
}
.icon-r-circleright:before {
	content: "\e645";
}
.icon-r-birthday:before {
	content: "\e646";
}
.icon-r-arrow-fill-left:before {
	content: "\e647";
}
.icon-r-arrow-fill-right:before {
	content: "\e648";
}
.icon-r-arrow-fill-up:before {
	content: "\e649";
}
.icon-r-shit-outline:before {
	content: "\e64b";
}
.icon-r-pushpin:before {
	content: "\e64c";
}
.icon-r-multiply:before {
	content: "\e650";
}
.icon-r-plus:before {
	content: "\e651";
}
.icon-r-circle-remove:before {
	content: "\e653";
}
.icon-r-circle-cancel:before {
	content: "\e654";
}
.icon-r-circle-ok:before {
	content: "\e655";
}
.icon-r-email-sent:before {
	content: "\e061";
}
.icon-r-warning:before {
	content: "\e657";
}
.icon-r-frame:before {
	content: "\e658";
}
.icon-r-iphone:before {
	content: "\e659";
}
.icon-r-monitor:before {
	content: "\e65a";
}
.icon-r-blocked:before {
	content: "\e65b";
}
.icon-r-gift2:before {
	content: "\e65c";
}
.icon-r-coffee:before {
	content: "\e65d";
}
.icon-r-earth:before {
	content: "\e65f";
}
.icon-r-newspaper:before {
	content: "\e660";
}
.icon-r-file:before {
	content: "\e661";
}
.icon-r-copy:before {
	content: "\e662";
}
.icon-r-phone:before {
	content: "\e663";
}
.icon-r-location:before {
	content: "\e664";
}
.icon-r-paperclip:before {
	content: "\e618";
}
.icon-r-phonebook:before {
	content: "\e656";
}
.icon-r-camera:before {
	content: "\e665";
}
.icon-r-dashboard:before {
	content: "\e667";
}
.icon-r-internet:before {
	content: "\e632";
}
.icon-r-circle-plus:before {
	content: "\e633";
}
.icon-r-arrow-fill-down:before {
	content: "\e64a";
}
.icon-r-help:before {
	content: "\e668";
}
.icon-r-copyright:before {
	content: "\e63e";
}
.icon-r-disk:before {
	content: "\e672";
}
.icon-r-floppy:before {
	content: "\e673";
}
.icon-r-briefcase:before {
	content: "\e674";
}
.icon-r-chart-pie:before {
	content: "\e01b";
}
.icon-r-binoculars:before {
	content: "\e65e";
}
.icon-r-twitter:before {
	content: "\e605";
}
.icon-r-feed:before {
	content: "\e60e";
}
.icon-r-youtube:before {
	content: "\e610";
}
.icon-r-vimeo:before {
	content: "\e61c";
}
.icon-r-flickr:before {
	content: "\e61d";
}
.icon-r-skype:before {
	content: "\e61e";
}
.icon-r-linkedin:before {
	content: "\e61f";
}
.icon-r-user-search:before {
	content: "\e600";
}
.icon-r-priorities:before {
	content: "\e602";
}
.icon-r-facebook:before {
	content: "\e604";
}
.icon-r-share:before {
	content: "\e620";
}
.icon-r-mail:before {
	content: "\e621";
}
.icon-r-radio:before {
	content: "\e628";
}
.icon-r-hobby:before {
	content: "\e629";
}
.icon-r-checkbox:before {
	content: "\e622";
}
.icon-r-menu:before {
	content: "\e623";
}
.icon-r-grid:before {
	content: "\e624";
}
.icon-r-tasks:before {
	content: "\e627";
}
.icon-r-alignLogo:before {
	content: "\e62a";
}
.icon-r-calendar-menu:before {
	content: "\e62b";
}
.icon-r-close:before {
	content: "\e62c";
}
.icon-r-current-day:before {
	content: "\e63a";
}
.icon-r-list:before {
	content: "\e63b";
}
.icon-r-numbered-list:before {
	content: "\e63c";
}
.icon-r-paragraph-left:before {
	content: "\e64d";
}
.icon-r-paragraph-center:before {
	content: "\e64e";
}
.icon-r-paragraph-right:before {
	content: "\e64f";
}
.icon-r-bold:before {
	content: "\e652";
}
.icon-r-underline:before {
	content: "\e666";
}
.icon-r-italic:before {
	content: "\e669";
}
.icon-r-alignLogo-all:before {
	content: "\e66a";
}
.icon-r-alignLogo-all-nodots:before {
	content: "\e66b";
}