/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

@font-face {
    font-family: 'light';
    src: url('fontface/aligntoday-light-webfont.eot');
    src: url('fontface/aligntoday-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontface/aligntoday-light-webfont.woff') format('woff'),
         url('fontface/aligntoday-light-webfont.ttf') format('truetype'),
         url('fontface/aligntoday-light-webfont.svg#align_today45_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'medium';
    src: url('fontface/aligntoday-medium-webfont.eot');
    src: url('fontface/aligntoday-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontface/aligntoday-medium-webfont.woff') format('woff'),
         url('fontface/aligntoday-medium-webfont.ttf') format('truetype'),
         url('fontface/aligntoday-medium-webfont.svg#align_today65_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'thin';
    src: url('fontface/aligntoday-thin-webfont.eot');
    src: url('fontface/aligntoday-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontface/aligntoday-thin-webfont.woff') format('woff'),
         url('fontface/aligntoday-thin-webfont.ttf') format('truetype'),
         url('fontface/aligntoday-thin-webfont.svg#align_today35_thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ultralight';
    src: url('fontface/aligntoday-ultralight-webfont.eot');
    src: url('fontface/aligntoday-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontface/aligntoday-ultralight-webfont.woff') format('woff'),
         url('fontface/aligntoday-ultralight-webfont.ttf') format('truetype'),
         url('fontface/aligntoday-ultralight-webfont.svg#align_today25_ultra_light') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color:#F89F33;
    font-family: thin, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	color: #ffffff;
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:auto;                   
    width:auto;                 
    text-align:center;
    padding: 0;    /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -85px 0 0 -129px; /*set offset when you figure it out */
	font-size: 120px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        /* padding: 0; padding-top + padding-bottom + text area = image height */
        /* margin:0 ; set offset when you figure it out */
    }
}

h1 {
	font-size: 19px;
	font-weight: normal;
	margin: 0px;
	overflow: visible;
	text-align: center;
	background: #ffffff;
	color: #F89F33;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	padding: 2px 0;
}

/* .event {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
} */

/* ------------------------------------- */
/* ----- Loading CSS3 Animations ----- */
/* ------------------------------------- */

.loader {
	position: absolute;
	top: 0;
	left: 0;
}
.loader i {
	-webkit-animation-name: mubi-pop;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	background: #ffffff;
	top: 96px;
}
@-webkit-keyframes mubi-pop {
  0% {
    -webkit-transform: scale(1,1);
     opacity: 1;
  }
  25% {
   -webkit-transform: scale(.95,.95); 
     opacity: .25;
  }
  50% {
   -webkit-transform: scale(1,1);  
     opacity: 1;
  }
  75% {
   -webkit-transform: scale(.95,.95); 
     opacity: .25;
  }
  100% {
   -webkit-transform: scale(1,1);  
     opacity: 1;
  }
}

.loader i:nth-child(1) {
	-webkit-animation-delay:0.2s;
	left: 56px;
}
.loader i:nth-child(2) {
	-webkit-animation-delay:0.4s; 
	left: 76px;
}
.loader i:nth-child(3) {
	-webkit-animation-delay: 0.6s;
	left: 95px;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.7; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.7; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



